{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          ".ts"
        ],
        "root": [
          "."
        ]
      }
    ]
  ],
  "comments": false,
  "ignore": [
    "./src/__tests__"
  ]
}
